loguru==0.7.3
bittensor==10.4.0
bittensor-wallet==4.1.0
click==8.3.1
pydantic==2.12.4
pydantic-settings==2.12.0
targon-sdk @ git+https://github.com/manifold-inc/targon-sdk.git@main
httpx==0.28.1
numpy==2.3.4
openai==2.6.1
requests==2.34.2